body {
    margin: 0px auto;
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: white;
    color: #333;
    padding-top: 50px;
}

.container {
    width: auto;
    max-width: 1300px !important;
}

.header {
    background: #ffff66;
    border: 0px;
}

.navbar a {
    color: #996600;
    font-size: 125%;
    text-decoration: none;
}

.nav>li>a:hover {
    background: #CC6633;
    color: #ffff66;
}

