<!doctype html>
<html>
<head>
    <title>Test Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bs.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bst.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/cmn.css') }}"/>
    <script src="{{ url_for('static', filename = 'js/jq.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bs.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>

